name: CMake

on:
  pull_request:
    branches: ["develop"]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: "Prepare build"
      run: |
        mkdir -pv Build
        cd Build
        cmake .. -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=OFF
    - uses: whisperity/codechecker-analysis-action@v1
      id: codechecker
      with:
        config: .codechecker.json
        build-command: "cd ${{ github.workspace }}/Build; cmake --build . --target ycres ycundat ycipal ycifrm ycipro ycimap ycilst ycimsg"
    - uses: actions/upload-artifact@v2
      with:
        name: "Upload reports"
        path: ${{ steps.codechecker.outputs.result-html-dir }}
    - name: "Break if erred"
      if: ${{ steps.codechecker.outputs.warnings == 'true' }}
      run: exit 1
      
